@use "../utilities/" as *;
@use "../globals/" as *;

aside {
  width: 20%;
  min-width: rem(300);
  padding: rem(25);
  display: flex;
  flex-direction: column;
  gap: rem(45);
  background-color: $clr-tertiary;
  min-height: 100vh;

  .aside-flex {
    display: flex;
    flex-direction: column;
    gap: rem(10);
  }

  button {
    font-size: rem(14);
    border: none;
    padding: rem(5);
    background: none;
    border-radius: rem(10);
    display: flex;
    gap: 10px;
    padding-left: 15px;
  }

  button:hover {
    background-color: $clr-primary;
    cursor: pointer;
  }
}
