@use "../utilities/" as *;
@use "../globals/" as *;

header {
  display: none;
  justify-content: space-between;
  padding: rem(25);
  align-items: center;
  background-color: lightblue;

  h1 {
    color: black;
    font-weight: 700;
  }

  button {
    display: flex;
    flex-direction: column;
    gap: rem(7);
    justify-content: center;
    align-items: center;
    height: rem(50);
    width: rem(50);
    background: none;
    border: none;
    border-radius: rem(5);

    div {
      background-color: black;
      height: rem(5);
      width: 75%;
    }
  }

  button:hover {
    cursor: pointer;
  }
}

@media screen and (max-width: 768px) {
  header {
    display: flex;
  }
}
