@use "../utilities/" as *;
@use "../globals/" as *;

.task-list {
  display: flex;
  flex-direction: column;
  gap: rem(10);
  width: 90%;

  .task-headers {
    font-weight: 700;
  }

  .task,
  .task-headers {
    display: grid;
    grid: auto-flow / rem(40) rem(250) 1fr rem(150) rem(200);
    gap: rem(15);
    padding: rem(10);
    background-color: lightblue;
    align-items: center;

    h5,
    p,
    i {
      text-align: center;
    }

    i {
      padding: rem(5);
    }

    i:hover {
      cursor: pointer;
      background-color: hsl(120, 100%, 50%);
      color: white;
    }

    .task-description {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}
