@use "../utilities/" as *;
@use "../globals/" as *;

.task-list {
  display: flex;
  flex-direction: column;
  gap: rem(25);
  width: 90%;
  background-color: lightgray;

  .task {
    display: flex;
    padding: rem(15);
    background-color: lightblue;
    justify-content: space-around;

    .task-description {
      max-width: rem(600);
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}
