// Primary Colors
$clr-primary: hsl(11, 55%, 72%);
$clr-secondary: hsl(51, 100%, 53%);
$clr-tertiary: hsl(44, 30%, 85%);

// Neutral Colors
$clr-white: hsl(0, 0%, 100%);
$clr-gray-lt: hsl(0, 0%, 85%);
$clr-gray: hsl(0, 0%, 50%);
$clr-gray-dk: hsl(0, 0%, 15%);
$clr-black: hsl(0, 0%, 0%);
